files:
  /opt/elasticbeanstalk/hooks/appdeploy/post/99_run_git_pull_post_deploy.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo git -C "/var/app/current/smartexam" stash
      sudo git -C "/var/app/current/smartexam" pull origin master
      sudo chmod 644 "/var/app/current/smartexam/.env\
      sudo pip install supervisor
      /var/app/current/bin/startjob.sh

















#!/usr/bin/env bash
sudo git -C "/var/app/current/smartexam" stash
sudo git -C "/var/app/current/smartexam" pull origin master
sudo chmod 644 "/var/app/current/smartexam/.env\
sudo pip install supervisor
/var/app/current/bin/startjob.sh
                                   "group": "root"
